@import "./mapple/mVars";

@rel: "../../@{res}";

@font-face {
  font-family: "CarbonIcons";
  src:url("@{rel}fonts/Basic2/Basic2.eot");
  src:url("@{rel}fonts/Basic2/Basic2.eot") format("embedded-opentype"),
  url("@{rel}fonts/Basic2/Basic2.woff") format("woff"),
  url("@{rel}fonts/Basic2/Basic2.svg#Basic") format("svg"),
  url("@{rel}fonts/Basic2/Basic2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
