@ratio: 100%;
@coverWidth: 300px;

.resources-list {
    height: 70vh;
    margin: 0 -2px;

    &__tab-header {
        padding: 0 @line_air*2;
    }
    &__search-field {
        flex-grow: 1;
    }
}


.resource {
    &__rating,
    &__downloads {
        .op80;
        .flexline;
        margin-right: .4em;

        &-icon {
            margin-top: .2rem;
        }
        &-number {
            padding-top: .2rem;
            margin-left: .2em;
        }
    }

    &__rating {

        &-icon {

        }
        &-number {

        }
    }
}

.resource-import-details {
    &__metaline {
        display: flex;
    }

    &__cover {
        .rel;
        width: @coverWidth;
        &:before {
            .bl;
            .cont;
            padding-bottom: @ratio;
        }
    }

    &__info {
        margin-left: @line_air * 2;
    }

    &__gallery {
    }

    &__slide {
        .op0;
        .stretch();
        .bgpic();
        .trn1;
        .clip;
        &.active {
            .op1;
        }
    }


    &__preview-img {
        max-width: 100%;
        height: auto;
    }


    &__thumbs {
        margin-top: @line_air;
        .flex;
        margin-right: @line_air/-2;
    }

    &__thumb {
        margin-right: @line_air/2;
        width: 3rem;
        .bgpic;
        //.bgc(#ccc);
        border: 2px solid fadeout(@font_color, 80%);
        .point;
        &_active {
            .pevents;
            border-color: fadeout(@sel_color, 10%);
        }
        &:before {
            .bl;
            .cont;
            padding-bottom: @ratio;
        }
    }

    &__name {
        .f20;
    }

    &__author {
        .flexline;
        &-avatar {
            .size(24);
            .rnd3;
            .bgpic;
            .bgc(#ccc);
            margin-right: @line_air/2;
        }
        &-name {
            .f16;
        }
    }
}

// Tags
.resource-tags {
    &__tag {
        .nowrap;
        padding: @line_air/2 0;
        color: @font_color;

        //color: fadeout(@font_color, 20%);
        //&:hover {
        //    color: @font_color;
        //}
        &:after {
            content: ", "
        }
        &:last-child:after {
            content: "";
        }
    }

    &__title {
        border-bottom: 1px dashed fadeout(@font_color, 80%);
    }
}
