.dashboard{
  .folders{
    float: left;
    padding: 20px;
    width: 200px;
    background: lightblue;
  }

  .projects{
    float: left;
    padding: 20px;
    width: 600px;
    background: lightyellow;
  }
}