.context-menu {
    .bgc(@bg_inner1);
    padding: @air_half 0;
    color: @font_color;
    min-width: 130px;
    .f12;

    &__item {
        .rel;
        .act;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        height: 2rem;
        padding-left: @line_air;

        &_disabled{
            .colorfade(20, @font_color);
        }

        &:hover:not(.context-menu__item_disabled) {
            .cursor_pointer;
            .bgfade(10);
            .transition(background 0s);
        }

        &-arrow {
            .arr-right();
            margin-top:-4px;
            .abs;
            right:8px;
            top:50%;
        }

        &:not(&_with-icon) {
            @iconSize: 14px;
            padding-left: @iconSize + @line_air + @air_half;
        }
    }

    &__separator {
        margin: 0.3rem 0;
        border-top: 1px solid @color_panel_divider;
    }
    &__submenu {
        padding: @air_half 0;
        .bgc(@bg_inner1);
        position: absolute;
        top: -@air_half;
        left: 100%;

        & .context-menu__item {
            padding: 0 @line_air;
        }
    }

    &__item:hover &__submenu {
        display: block;
    }

    &__icon {
        margin-right: @air_half;
    }

    &__label {
        flex-grow: 1;
    }

    &__shortcut {
        .f10;
        opacity: .5;
        margin: 0 @line_air
    }
}