.dialog-overlay{
    .abs;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(100, 100, 100, 0.8);
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog {
    .allowselect(text);
    min-width: 300px;
    color : @font_color;

    &__header{
        @height: 30px;
        .rel;
        .ellipsis;
        height: @height;
        background:  @bg3_panel_header;
        padding: 0 @line_air * 2;
        line-height: @height;
    }

        &__buttons{
            .xyar();
            bottom: 0;

            .flexline();
        }
        &__button{
            .point;
            .size(@line);
            .flexcenter;
            .op30;
            &:hover {
                .wbg(5);
                .op80;
            }
        }

    &__body{
        background:  @bg4_panel_body;
        padding: 20px;
    }
}



.dialog-body.medium {
    height:400px;
}


.style-name {
    margin-left: 30px;
}

#styles-tabs {
    &, .tab-pane, .list-box{
        height:100%;
    }

    position: relative;

    .tab-content {
        top:40px;
        bottom:0;
        left:0;
        right:0;
        position: absolute;
    }
}