



.dialog-body.medium {
    height:400px;
}


.style-name {
    margin-left: 30px;
}

#styles-tabs {
    &, .tab-pane, .list-box{
        height:100%;
    }

    position: relative;

    .tab-content {
        top:40px;
        bottom:0;
        left:0;
        right:0;
        position: absolute;
    }
}

.fatal-dialog {
    width: 600px;
}