
@import "./_projectMixins";

html {
    .text-font;
    .size(100%);
    font-size: 10px;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    min-height:100%;
    width:100%;
    //.clip;
    background: #000;

    .noselect();

    &.noscroll {
        overflow: hidden;
    }
    &.fullscreen {
        height: 100%;
    }
}


body.ninja-mode {

    .panel__closer > i {
        .size(7);
    }
}




//===========================================================================================
//   COMMON UI
//===========================================================================================

img.sq {
    height: 100%;
    width: auto;
}

.cap {
    .f11;
    .inl;
    .upper;
}

.pill-cap {
    .inl;
    .upper;
    letter-spacing: 0.08em;
    font-weight: bold;
    //top: -0.1rem;
    &, >span {
        .f10;

    }
}

hgroup {
    height: @line;
    padding: 0 @line_air;
    .middler();

    h4 ,
    h5 ,
     {margin-bottom: 1px}

    & > * {
        .inbl_middle;
    }
    & > i {
        .opacity(70);
    }

    color: fadeout(white, 30%);
}


//===========================================================================================


.library__tab
,.tabbar__tab
,.pill
,.button
,.drop
{
    .act()
}


.inline-ico {
    margin-right: 3px;
}

.icon_top-right {
    .xyar(@line_air);
}



//===========================================================================================
//   B L O C K S
//===========================================================================================

//——————————————————————————————————————————————————————————————————————
#overlays {
    & > * {z-index : 3010}
}

#overlay-bg {
    display: none;
    .fill();
}




